/* css */
/* specific colors for light and dark mode
   adapted from https://radek.io/posts/secret-darkmode-toggle/ */
:root {
  --background-color: #ffffff;
  --font-color: #24272B;
  /* can set other variables here as needed e.g. secondary font, secondary background etc. */
}
:root.dark {
  --background-color: #24272B;
  --font-color: #f6f6f6;
}

/* dark/light mode toggle link */
#light-toggle {
  /* top right-hand corner of page */
  /* changed to relative instead of absolute */
  position: absolute;
  /* changed to bottom instead of top */
  top: 60px;
  right: 80px;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none !important;
}

/* hacky dark mode code blocks */
html.dark pre {
  filter: invert(0.8);
}
/* make striped rows less conspicuous 
   depending on version of data tables, may need one or more of the following selectors */
html.dark .table-striped > tbody > tr:nth-of-type(odd),
html.dark table.dataTable.stripe tbody tr.odd,
html.dark table.dataTable.display tbody tr.odd {
  background-color: #f9f9f911;
}
/* hover rows less conspicuous */
html.dark .table-hover > tbody > tr:hover,
html.dark table.dataTable.hover tbody tr:hover,
html.dark table.dataTable.display tbody tr:hover {
  background-color: #f5f5f522 !important;
}

/* override colors in R Markdown theme, with variables */
body {
  /* colors from variables - need "!important" so takes priority over settings elsewhere */
  background: var(--background-color) !important;
  color: var(--font-color) !important;
}
/* headings */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--font-color) !important;
}

/* data tables div */
div.datatables {
  color: var(--font-color) !important;
}
/* table rows */
table.dataTable tbody tr {
  background-color: var(--background-color);
}
/* number of records */
.dataTables_info {
  color: var(--font-color) !important;
}
/* pagination for table */
li.paginate_button > a {
  background-color: var(--background-color) !important;
  color: var(--font-color) !important;
}
/* disabled pagination buttons, less emphasis */
li.paginate_button.disabled > a {
  opacity: 0.7 !important;
}
